.App {
    text-align: center;
}

.Landing-button {
    margin-top: 70px;
    height: 8vmin;
    width: 25vmin;
    font-size: calc(20px + 2vmin);
    text-align: center;
    min-width: 180px;
    min-height: 60px;
    background-color: #005d7f;
    color: #cfc9a1;
    font-weight: bolder;
}

.My-navbar {
    padding-left: 20px;
    padding-right: 20px;
}

.offcanvas-backdrop.show {
    opacity: 0;
}

.offcanvas {
    top: 45%;
    right: 0;
    width: auto;
}

.brandTitle {
    font-size: 38px;
}

.offcanvas-end {
    border: 0;
}

#Img-navbar {
    margin-right: 10px;
}

.App-logo {
    max-height: 60vmin;
    margin-top: 20px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}